<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="header">To-do list</div>
      <div class="list-container">
        <div class="list-item">
          <span class="checkmark"></span>
          <span class="list-item-content-complete">All the people on the left the left the left the left the left the left the left</span>
          <span class="cross"></span>
        </div>
        <div class="list-item">
          <span class="checkmark"></span>
          <span class="list-item-content-complete">Wap bam boogie</span>
          <span class="cross"></span>
        </div>
        <div class="list-item">
          <span class="checkmark"></span>
          <span class="list-item-content-complete">All the people on the right</span>
          <span class="cross"></span>
        </div>
        <div class="list-item">
          <span class="unchecked-mark"></span>
          <span class="list-item-content-incomplete">Boogaloo</span>
          <span class="cross"></span>
        </div>
      </div>
    </div>
    <div class="list-container">
      <div class="list-item">
        <input type="text" class="new-item" placeholder="Enter a new item...">
        <span class="add"></span>
      </div>
    </div>
  </body>
</html>
