<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="header">To-do list</div>
      <div class="list-container">
        <div class="list-item">
          <span class="checkmark"></span>
          <span class="list-item-content">All the people on the left</span>
        </div>
        <div class="list-item">
          <span class="checkmark"></span>
          <span class="list-item-content">Wap bam boogie</span>
        </div>
        <div class="list-item">
          <span class="checkmark"></span>
          <span class="list-item-content">All the people on the right</span>
        </div>
        <div class="list-item">
          <span class="checkmark"></span>
          <span class="list-item-content">Boogaloo</span>
        </div>
      </div>
    </div>
    <div class="list-container">
      <div class="list-item">Enter a new task</div>
    </div>
  </body>
</html>
