<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="header">To-do list</div>
      <div class="list-container">
        <% tasks.forEach(function(task) { %>
          <div class="list-item">
            <% if (task.completed == true) { %>
              <span class="checkmark-complete"></span>
              <span class="list-item-content-complete"> <%= task.content %> </span>
              <span class="cross"></span>
            <% } else if (task.completed == false) { %>
              <span class="checkmark-incomplete"></span>
              <span class="list-item-content-incomplete"> <%= task.content %> </span>
              <span class="cross"></span>
            <% }; %>
          </div>
        <% }); %>
      </div>
    </div>
    <div class="list-container">
      <div class="list-item">
        <input type="text" class="new-item" placeholder="Enter a new item...">
        <button type="submit" class="add-button">+</button>
      </div>
    </div>
  </body>
</html>
