body {
  font: 2.5em "Lucida Grande", Helvetica, Arial, sans-serif;
}

#header {
  font-weight: bold;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  padding-bottom: 4%;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 4%;
}

.list-container {
  border-style: solid;
  border-width: 0.5%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.list-item {
  border-style: solid;
  border-width: 0.5%;
  margin: 2%;
  padding: 5%;
}

.list-item-content {
  display: inline;
  margin-left: 2%
}

.checkmark {
  display:inline-block;
  width: 1em;
  height:1em;
  background: black;
  border-radius:50%;
  transform: rotate(45deg);
}

.checkmark:before{
  content:"";
  position: absolute;
  width:0.2em;
  height:0.1em;
  background-color:#fff;
  left:0.3em;
  top:0.6em;
}

.checkmark:after{
  content:"";
  position: absolute;
  width:0.1em;
  height:0.5em;
  background-color:#fff;
  left:0.5em;
  top:0.2em;
}
