body {
  background-color: #0A0A08;
  color: #FBFCFF;
  font: 2.5em "Lucida Grande", Helvetica, Arial, sans-serif;
}

#header {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  padding-bottom: 4%;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 4%;
}

.list-container {
  /* border-style: solid;
  border-width: 0.5%; */
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.list-item {
  align-items: center;
  background-color: #1F312A;
  /* border-style: solid;
  border-width: 0.5%; */
  border-radius: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 2%;
  padding: 5%;
}

.list-item-content-complete {
  color: #c0c0c0;
  display: inline;
  flex-grow: 1;
  margin-left: 3%;
  margin-right: 3%;
  text-decoration: line-through;
}

.list-item-content-incomplete {
  display: inline;
  flex-grow: 1;
  margin-left: 3%;
  margin-right: 3%;
}

.new-item {
  background-color: #1F312A;
  color: #c0c0c0;
  border: none;
  display: inline-block;
  font-size: 1em;
  flex-grow: 1;
  margin-left: 3%;
  margin-right: 3%;
}

.checkmark-complete {
  display:inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  width: 1em;
  height:1em;
  background-color: #FBFCFF;
  border-radius:50%;
  transform: rotate(45deg);
}

.checkmark-complete:before{
  content:"";
  position: absolute;
  width:0.2em;
  height:0.1em;
  background-color:#0A0A08;
  left:0.3em;
  top:0.6em;
}

.checkmark-complete:after{
  content:"";
  position: absolute;
  width:0.1em;
  height:0.5em;
  background-color:#0A0A08;
  left:0.5em;
  top:0.2em;
}

.checkmark-incomplete {
  display:inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  width: 1em;
  height:1em;
  background-color: #FBFCFF;
  border-radius:50%;
  transform: rotate(45deg);
}

.cross {
  display:inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  width: 1em;
  height:1em;
  transform: rotate(45deg);
}

.cross:before{
  content:"";
  position: absolute;
  width:0.6em;
  height:0.1em;
  background-color: #FBFCFF;
  left:0.2em;
  top:0.45em;
}

.cross:after{
  content:"";
  position: absolute;
  width:0.1em;
  height:0.6em;
  background-color: #FBFCFF;
  left:0.45em;
  top:0.2em;
}

.add-button {
  background-color: #1F312A;
  color: #FBFCFF;
  display: inline-block;
  height: 100%;
  font-size: 1.2em;
  border: 0;
}